body {
    background-color:antiquewhite;
}

header {
    display: flex;
    align-items: center;
    /*justify-content:center;*/
}

h1 {
    display: inline;
    color: rebeccapurple;
    font-family: 'Comic Sans MS';
}
section{
        background-color:aquamarine;
    
}
h3{
    display:inline;
    color:darkblue;
}
li {
    background-color: beige;
}

li,a{
    text-decoration:none;
    color:crimson; 
}
.Barra:hover{
    background-color:lightpink;
}

.Barra:visited{
    color:green;
}